.banner {
  display: flex;
  height: 200px;
  width: 100vw;
  background-color: white;
  align-items: center;
  justify-content: center;
}

.bannerTitle {
  font-size: 70px;
  transform: skew(-16deg, 0deg);
  font-weight: 800;
  color: #FD673A;
  text-decoration: none;
}

.banner h2 {
  padding: 0px;
  margin: 0px;
  transform: skew(-16deg, 0deg);
}

.h2 {
  font-size: 100px;
  font-weight: 800;
  transform: skew(-12deg, 0deg);
}

.wrapper {
  color: #36454F;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-family: 'Exo 2', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  height: 100vh;
  background-color: #ececec;
}

.container {
  width: 300px;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
}

.title {
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  font-weight: 800;
  transform: skew(-12deg, 0deg);
}

.form {
  display: flex;
  flex-direction: column;
}

.label {
  text-transform: uppercase;
  font-weight: 500;
  transform: skew(-12deg, 0deg);
  margin-bottom: 10px;
  margin-top: 4px;
}

.regButton {
  background-color: #4c575e;
  color: #ececec;
  padding: 6px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 20px;
  font-weight: 500;
  font-style: italic;
  letter-spacing: 2px;
  transition: 0.2s;
}

.regButton:hover {
  background-color: #36454F;
  
}

.info {
  color: #a6a6a6;
}

.anchor {
  text-decoration: none;
  color: #4c575e;
  transition: 0.2s;
}

.anchor:hover {
  text-decoration: underline;
}