.navClass {
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    color: white;
    position: sticky;
    top: 0;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.15);
}

.navTitle {
    margin: 0;
    padding: 0;
    font-size: 1.5rem;
    margin: 1rem;
    font-weight: bold;
    text-decoration: none;
    color: #FD673A; 
    transform: skew(-16deg, 0);
}

.navUl {
    margin: 0;
    padding: 0;
    display: flex;
}

.navUl .navLi {
    margin: 0;
    padding: 0;
    list-style: none; 
}

.navClass .navUl .navLi .navAnchor {
    margin: 0;
    padding: 0;
    display: block;
    text-decoration: none;
    color: #333;
    padding: 0.5rem;
    margin: 0 0.5rem;
    border-radius: 0.5rem;
    transition: 0.1s;
}

.navClass .navUl .navLi .navAnchor:not(.active):hover {
    background-color:#4c575e;
    color: white;
}

